[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "~=1.9"
markdown = "~=3.1"
flask = "~=1.0"
flask-caching = "~=1.7"
redis = "~=3.2"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
pytest-mock = "*"
flake8 = "*"

[requires]
python_version = "3.6"
